.widgets{
    flex: 0.3;
}

.widgets-input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-bg);
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0 0 20px;
}

.widgets-input > input{
    border: none;
    background-color: var(--twitter-bg);
}

.widgets-search{
    color: gray;
}

.widgets-container{
    margin: 15px 0 0 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f8fa;
}
